.btn {
  border: 1px solid;
  outline: none;
  font-size: 14px;
  border-radius: 6px;
  padding: 14px 1.5rem;
}
.btn--fill-blue {
  color: #fff;
  background: var(--main-primary-70);
  border-color: var(--main-primary-70);
}
.btn--fill-white {
  color: var(--main-primary-70);
  background: var(--white);
  border-color: var(--white);
}

.btn--outline-blue {
  background: transparent;
  color: var(--main-primary-70);
  border-color: var(--main-primary-70);
}

.btn--transparent {
  background: transparent;
  color: var(--main-primary-70);
  border-color: var(--transparent);
}

.btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
